html {
	background-color: #b5b5b5;
}

.content {
	position: absolute;
	top: 11.4%;
	left: 10.8%;
	height: 60.1%;
	width: 75.2%;
}

.tdtext {
	font-size: 200%;
	font-weight: bold;
}

#thermometre {
	position: fixed;
	left: -2.9%;
	top: 39%;
	width: 30%;
	height: 5%;
	-ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#temperature {
	position: fixed;
	font-size: 150%;
	font-weight: bold;
	text-align: center;
	color: white;
	width: 30%;
	height: 5%;
	top: 67.8%;
	left: -2.95%;
}

#thermostat {
	position: absolute;
	top: 0%;
	height: 100%;
	left: 95%;
}

#actif {
	position: fixed;
	right: 40%;
	top: 30%;
	text-align: right;
}

#chauffage {
	position: fixed;
	left: 35%;
	top: 30%;
}

#tempExt {
	position: fixed;
	left: 35%;
	top: 35%;
}

#valTempExt {
	position: fixed;
	right: 40%;
	text-align: right;
	top: 35%;
}

#txtThermostat {
	position: fixed;
	left: 35%;
	top: 40%;
}

#tdValeurThermostat {
	position: fixed;
	right: 40%;
	text-align: right;
	top: 40%;
}

#nThermostat {
	position: fixed;
	left: 78.6%;
	top: 74%;
}

#nThermometre {
	position: fixed;
	left: 7.5%;
	top: 74%;
}


.grad {
	position: fixed;
	width: 2%;
	text-align: right;
	right: 13.5%;
	color: #444477;
	font-weight: bold;
	font-size: 120%;
}

.barre {
	position: fixed;
	width: 1%;
	border-color: blue;
	right: 15.3%;
}

meter::-webkit-meter-bar {
  background: none;
  background-color: #eeeeee;
  border: 1px solid blue;
}

meter::-webkit-meter-optimum-value {
  background: none;
  background-color: #a40000;
}

#h1 {top: 9.4%;}
#h2 {top: 21.35%;}
#h3 {top: 33.3%;}
#h4 {top: 45.25%;}
#h5 {top: 57.2%;}
#h6 {top: 69.15%;}

#g1 {top: 10.27%;}
#g2 {top: 22.22%;}
#g3 {top: 34.17%;}
#g4 {top: 46.12%;}
#g5 {top: 58.07%;}
#g6 {top: 69.9%;}